doctype html
html
  head
    title Nhắc lịch đóng thuế
  body
    h1 Nhắc lịch đóng thuế
    p Chào bạn Tuỳn cuti xink đẹp,
    p Đây là email nhắc nhở bạn rằng đã đến thời gian đóng thuế. Vui lòng kiểm tra các thông tin và hoàn tất các thủ tục cần thiết.
    p Trân trọng,
